/* Global Layout Set-up */
* {
  box-sizing: border-box; }

#wrapper {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%; }

body {
  -webkit-background: linear-gradient(#74828F, transparent 7%), linear-gradient(90deg, #74828F, transparent), #fff;
  background: linear-gradient(#74828F, transparent 7%), linear-gradient(0deg, #74828F, transparent), #fff; }

img {
  max-width: 95%;
  margin-top: 25px;
  border: 5px solid #cc0a0a; }

img:hover {
  opacity: .7; }

a {
  text-decoration: none; }

.name a,
.main-nav a,
h2,
h3 {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  color: #cc0a0a; }

div.name {
  text-align: center; }

p {
  font-weight: lighter;
  line-height: 1.4;
  max-width: 90%;
  text-align: center;
  margin-left: 10px; }

div.name {
  text-align: center; }

.name {
  font-size: 25px;
  font-weight: 800;
  color: #cc0a0a;
  margin-top: 10px; }

div.nam:hover {
  color: beige; }

.main-nav {
  text-align: center;
  margin-right: 40px; }

.nav {
  font-weight: 400;
  list-style-type: none;
  font-size: 18px; }

.nav > li {
  padding-bottom: 30px; }

a:hover {
  color: beige; }

section {
  background-color: #F8FBF5;
  border-top: 6px solid #cc0a0a;
  line-height: 1.5;
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center; }

section:hover {
  border-top: 10px solid #cc0a0a; }

.intro2 {
  margin-top: 20px;
  color: black;
  padding: 8px 8px;
  margin-right: 10px; }

#profile-image {
  width: 90%;
  margin-right: 10px; }

.portfolio {
  text-align: center;
  color: #cc0a0a;
  margin-bottom: 30px;
  font-size: 12px;
  margin: 40px auto; }

.cardflex {
  text-align: center;
  flex-basis: 90%; }

footer {
  display: flex;
  -moz-display: flex;
  flex-direction: column;
  -moz-flex-direction: column;
  background-color: #F8FBF5;
  text-align: center; }

footer:hover {
  border-bottom: 10px solid #cc0a0a; }

h2.contact {
  font-size: 18px;
  margin-top: 45px; }

p.contact {
  text-align: center;
  align-self: center;
  margin-right: 10px; }

.footer-nav {
  display: none; }

.end {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  color: #cc0a0a;
  margin-top: 25px; }

.top > a:nth-child(1) {
  color: #cc0a0a;
  font-size: 13px; }

/*Media queries*/
@media (min-width: 768px) {
  div.name {
    text-align: center; }

  p.intro2 {
    margin-top: -40px; }

  .main-nav .nav {
    font-weight: 600; }

  ul.nav {
    display: flex;
    -webkit-display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center; }

  .nav > li {
    padding-right: 15px; }

  section {
    display: flex;
    -webkit-display: flex;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse; }

  .intro1 {
    flex-basis: 100%;
    -webkit-flex-basis: 100%; }

  .intro2 {
    margin-top: 45px;
    text-align: left;
    flex-basis: 100%; }

  img#profile-image {
    margin-top: -.3px; }

  .portfolio {
    font-size: 12px; }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    -webkit-display: flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: wrap; }

  .cardflex {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    text-align: center; }

  footer {
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 40px; }

  p.contact {
    max-width: 80%; }

  .end {
    display: flex;
    justify-content: space-between;
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    color: brown;
    margin-top: 20px; }

  .top > a:nth-child(1) {
    color: brown;
    margin-right: 2px; } }
@media (min-width: 1024px) {
  .name {
    margin-top: 40px; }

  #top {
    display: flex;
    -moz-display: flex;
    align-self: flex-start;
    -moz-align-self: flex-start; }

  .main-nav .nav {
    justify-content: flex-end;
    -moz-justify-content: flex-end;
    font-weight: 600;
    font-size: 20px;
    margin-right: -50px;
    margin-top: -60px; }

  .main-nav .nav > li {
    padding-right: 15px;
    padding-left: 20px;
    margin-top: 10px; }

  ul.nav {
    flex-direction: row;
    -moz-flex-direction: row; }

  img {
    max-width: 90%; }

  p.intro2 {
    margin-top: -80px; }

  .cardflex {
    flex-basis: 33%; }

  div.footer-nav {
    display: flex;
    flex-direction: row;
    -moz-display: flex;
    -moz-flex-direction: row; }

  .name-foot {
    margin-top: -90px;
    color: brown;
    font-size: 20px; }

  .footer-nav > ul {
    font-size: 20px; }

  .top {
    display: none; }

  a {
    text-decoration: none;
    color: brown; }

  #phone {
    font-weight: 800; }

  #email {
    font-weight: 800; }

  .footer-nav {
    font-weight: 600;
    margin-right: 10px;
    justify-content: flex-end;
    -moz-justify-content: flex-end; } }

/*# sourceMappingURL=style.css.map */
